html {
    background-color: black;
}
dialog {
    background-color: black;
    border-radius: 5px;
    border-color: lavenderblush;
}
p {
    font-family: serif monospace;
    color: oldlace;
}
span {
    font-family: serif monospace;
    color: oldlace;
}
div {
    font-family: serif monospace;
    color: oldlace;
}
.bold_white {
    font-family: serif monospace;
    color: oldlace;
    font-weight: bold;
}
a.tiny_link {
    text-align: center;
    font-size: xx-small;
}
.vert_cent {
    align-items: center;
}
header.fancy_header {
    background-color: #0038A8;
    padding: 20px;
    text-align: center;
    color: oldlace;
    animation: color_change 15s infinite alternate;
    font-family: serif monospace;
}
.flex-container {
    display: flex;
    align-items: center;
    gap: 20px;
}
div.nightreign_background {
    position: relative;
    width: 100%;
}
div.nightreign_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
img.bg-image {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.5;
}
.btn {
    background-color: aqua; 
    color: black;
    border: none;
    margin-left: 4em;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: aquamarine;
    transform: scale(1.05);
}
img.clickable_logo:hover {
    transform: scale(1.05);
}
.btn_close {
    background-color: crimson;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}
.tabbed {
    padding-left: 2em;
}
.tabbed_large {
    padding-left: 3em;
    margin-right: 2em;
    color: ivory;
    font-weight: bold;
    font-size: larger;
}
.btn_close:hover {
    background-color: lightcoral;
    transform: scale(1.1);
}
@keyframes color_change {
    0% {
        background-color: #0038A8;
    }
    100% {
        background-color: #D60270;
    }
}