div.card {
    background: snow;
    border: 2px solid #ddd6fe;
    border-radius: 16px;
    padding: 20px;
}
.scrollable_box {
    background: ivory;
    border: 2px solid #ddd6fe;
    border-radius: 16px;
    padding: 24px;
    height: 50vh;
    overflow-y: scroll;
}
main {
    justify-content: center;
    display: flex;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}